<% if @access_level_actions.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<ul id = "books">
   <% @access_level_actions.each do |c| %>
   <li><%= link_to c.action, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Access Level Action", {:action => 'new' }%></p>