<h1>Add new Access Level</h1>

<%= form_tag :action => 'create' do %>

<p><label for = "access_level">Access Level</label>:
<%= text_field 'access_level', 'name' %></p>

<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %> 